<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Africa</key>
	<array>
		<dict>
			<key>countryName</key>
			<string>Egypt</string>
			<key>countryLocalName</key>
			<string>مصر</string>
			<key>capitalName</key>
			<string>Cairo</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/egypt.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/egypt.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Madagascar</string>
			<key>countryLocalName</key>
			<string>Madagasikara</string>
			<key>capitalName</key>
			<string>Antananarivo</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/madagas.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/madagascar.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Morocco</string>
			<key>countryLocalName</key>
			<string>المغرب‎</string>
			<key>capitalName</key>
			<string>Rabat</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/morocco.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/morocco.html</string>
		</dict>
	</array>
	<key>Asia</key>
	<array>
		<dict>
			<key>countryName</key>
			<string>Japan</string>
			<key>countryLocalName</key>
			<string>日本</string>
			<key>capitalName</key>
			<string>Tokyo</string>
			<key>flagURL</key>
			<string>http://www.factmonster.com/images/japan.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/japan.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>India</string>
			<key>countryLocalName</key>
			<string>Bhārat</string>
			<key>capitalName</key>
			<string>New Delhi</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/india.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/india.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Afghanistan</string>
			<key>countryLocalName</key>
			<string>افغانستان</string>
			<key>capitalName</key>
			<string>Kabul</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/afghan.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/afghanistan.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>China</string>
			<key>countryLocalName</key>
			<string>中國</string>
			<key>capitalName</key>
			<string>Beijing</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/china.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/china.html</string>
		</dict>
	</array>
	<key>Europe</key>
	<array>
		<dict>
			<key>countryName</key>
			<string>Italy</string>
			<key>countryLocalName</key>
			<string>Italia</string>
			<key>capitalName</key>
			<string>Rome</string>
			<key>flagURL</key>
			<string>http://www.factmonster.com/images/italy.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/italy.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Hungary</string>
			<key>countryLocalName</key>
			<string>Magyarország</string>
			<key>capitalName</key>
			<string>Budapest</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/hungary.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/hungary.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Czech Republic</string>
			<key>countryLocalName</key>
			<string>Česká republika</string>
			<key>capitalName</key>
			<string>Prague</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/czechrep.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/czech-republic.html</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>Germany</string>
			<key>countryLocalName</key>
			<string>Deutschland</string>
			<key>capitalName</key>
			<string>Berlin</string>
			<key>flagURL</key>
			<string>http://i.factmonster.com/images/germany.gif</string>
			<key>descriptionURL</key>
			<string>http://www.factmonster.com/country/germany.html</string>
		</dict>
	</array>
</dict>
</plist>
